!.github
!.gitignore

__pycache__

.*

*.xml
*.png
data/output/*

!metric/*
!MusicXML2Audio/data/.xml

# *.pkl
*.h5
*.onnx
*.musicxml

#db, bucket 설정 관련
app/env.sh
app/db/core/key.json

sound
xml
image