html,
body {
    height: 100%;
}

.Maestro-logo {
    color: black;
    display: flex;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
}

.Maestro-logo:hover {
    color: black;
}

.check_btn {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    width: 150px;
    margin: auto;
    display: block;
    color: darkolivegreen;
    background-color: #f5f5f5;
    text-align: center;
    border: none;
    margin: top 30px;
}

.main_btn {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    width: 150px;
    margin: auto;
    display: block;
    color: silver;
    background-color: #f5f5f5;
    text-align: center;
    border: none;
    margin: top 50px;
    font-size: small;
}

.display1 {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.display2 {
    margin: 10px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.display2 .text {
    font-size: medium;
}

.check {
    margin: 20px;
}

.display_input {
    float: left;
    width: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.display_input::after {
    content: "";
    display: flex;
    clear: both;
}

.btns {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.check_btn {
    width: 150px;
    margin: 10px;
}

.display_flex {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.input_form:focus-within {
    z-index: 2;
}

.check_hint {
    font-size: small;
}

input[type=text] {
    width: 60px;
    height: 75px;
    font-size: auto;
    text-align: center;
    font-size: x-large;
    font-style: inherit;
}

input[name="start"] {
    margin-left: -1px;
    border-width: thin;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

input[name="continue"] {
    margin-left: -1px;
    border-width: thin;
}

input[name="end"] {
    margin-left: -1px;
    border-width: thin;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}