.sheets {
    margin-top: 15px;
    text-align: center;
  }

  .sheets .top-button{
    background-color: #fff;
    border: none;
  }

  .sheets-box {
    width: 50%;
    box-sizing: border-box;
    /* margin-right: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .sheets-box .sheets-file {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
  }
  .sheets-box .sheets-file .image {
    width: 40px;
  }

  .music-player {
    display: flex;
    justify-content: right;
  }

  .download-button{
    text-align: right;
      background-color: #fff;
      border: none;
  }