html,
body {
  height: 100%;
}

.Maestro-logo {
  color: black;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration : none;
}

.Maestro-logo:hover{
  color: dimgray;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.standard-form {
  max-width: 330px;
  padding: 15px;
}

.standard-form .form-floating:focus-within {
  z-index: 2;
}

.standard-form input[name="top"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.standard-form input[name="middle"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.standard-form input[name="bottom"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.eyes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 2px;
  height: 50px;
  font-size: 22px;
  cursor: pointer;
}