<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Maestro::loading</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbars/">
    <link href="{{url_for('static', path='/css/custom.css')}}" rel="stylesheet">
    <link href="{{url_for('static', path='/css/bootstrap.min.css')}}" rel="stylesheet">
  </head>

  <body>
    
    <header>
        <h4 class="display2">loading...</h4>
        <form action="/play" enctype="multipart/form-data" method="post">
          <!-- <input name="files" type="file" multiple> -->
          <button type="submit" id="play_page_btn" hidden>play!</button>
      </form>
    </header>

<main>
  <div class= "loading">
  </div>
</main>

    <script src="{{url_for('static', path='/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', path='/js/custom.js')}}"></script>
    <script>
      window.onload = function(){
        setTimeout(function(){
          document.getElementById('play_page_btn').hidden=false;
        }, 3000);
      }
    </script>
  </body>
</html>