<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Maestro-main">
  <meta name="author" content="BSH">
  <meta name="theme-color" content="#82c96b">

  <title>Maestro::main</title>

  <link href="{{url_for('static', path='/css/bootstrap.min.css')}}" rel="stylesheet">

</head>

<body class="text-center">

  <main>

  </main>

  <script src="{{url_for('static', path='/js/sign-form.js')}}"></script>

</body>

</html>